<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  
 </configSections>
 <system.diagnostics>
		<!-- Possible values for the switches (not all may be actually used): 
			 Trace Switches:  Off, Error, Warning, Info, Verbose 
			 Boolean Switches: Disabled = 0, Enabled = 1 -->
		<switches>
			<add name="DebugTracing" value="Verbose"/>
		</switches>
	</system.diagnostics>
 
</configuration>